.fnBtns{
    margin-top:5px;
    color:white;
    background-color: rgb(198, 1, 1);
    font-size:  15px; 
    margin-top:5px;
    margin-left:3px;
    
}

.fnBtns0{
    background-color: rgb(198, 1, 1);
    margin-right:5px;
}
.fnBtns1{
    background-color: rgb(198, 1, 1);

}