/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; }
app-root {
   box-shadow: 0px 0px 20px rgb(197, 196, 196);
  }
 
 