#calculatorContainer{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    border: 1px solid gray;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#displayContainer{
    display: flex;
    flex-direction: column;
    height: 50px;  
    border: none; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
}

#displayContainer > input{
    margin-left: 10px;
    margin-top: 10px;
    width: 230px;
    background-color: rgb(51, 51, 51);
    border: none;
    text-align: right;
    border-bottom: 1px solid gray;
}

#buttonContainer{
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: auto;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;;
    padding-bottom: 10px;
}


#funcButtonContainer{
    padding-top: 10px;
    width: auto;
    height: auto;
    width: 300px;
    display: grid; 
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    justify-content: center;
}
.func-btn {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    border: none; 
    background-color: rgb(172, 170, 170); 
    color: white; 
    font-size: 18px; 
    cursor: pointer; 
    font-family: 'Orbitron', sans-serif; 
} 
  
.func-btn:hover {
    background-color: rgb(70, 70, 70); 
}

#numButtonContainer{
    /* width: 150px;
    height: auto;*/
    padding-top: 5px;
    width: 300px;
    display: grid; 
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    justify-content: center;
}
.num-btn {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    border: none; 
    background-color: rgb(100, 100, 100); 
    color: white; 
    font-size: 18px; 
    cursor: pointer; 
    font-family: 'Orbitron', sans-serif; 
} 

.num-btn:hover {
    background-color: rgb(70, 70, 70); 
}

#btn0{
    height: 50px;  
    /* width: 100px; */
    border-radius: 40%;   
}

.opr-btn {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    border: none; 
    background-color: rgb(255, 225, 103); 
    color: white; 
    font-size: 18px; 
    cursor: pointer; 
    font-family: 'Orbitron', sans-serif; 
} 

#oprButtonContainer{
    padding-top: 5px;
    width: 300px;
    display: grid; 
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    justify-content: center;}

.opr-btn:hover {
    background-color: rgb(70, 70, 70); 
}