<div class="func-btn-container">

    <button id="func-btn-{{functionButton.id}}" class="func-btn" value="{{functionButton.value}}"
        *ngFor="let functionButton of functionButtons" (click)="onBtnPress(functionButton.value)" >
        {{functionButton.name}}
    </button>


</div>







































<!-- <div class="func-btn" *ngFor="let functionButton of functionButtons">

    <button id="{{functionButton.id}}"
        class="func-btn-{{functionButton.id}}">
        {{functionButton.name}}
    </button>

</div>  -->